.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* navbar design starts here */
.nav-logo {
    text-align: left;
}

.nav-logo img {
    width: 180px;
}

.nav-heading h1 {
    text-align: right;
}

.nav-menu{
    justify-content: flex-end;
    flex-direction: row;
}

.nav-menu a {
    padding: 10px 15px;
    margin: 20px 5px;
}
/* navbar design end here */

/* profile design starts here */

.profile-desc p{
    color: grey;
    margin: 10px auto;
    text-align: center;
    width: 50%;
   
} 


/* profile design ends here */


/* about me design starts here */

.aboutme-image{
    margin-top: 50px;
}

.aboutme-image img {
    height: 270px;
    width: 250px;
}

.aboutme-desc p{
    text-align: left;
}


/* about me design ends here */

/* achievement contact start here */

.achievement{
    padding-right: 50px;
}

.contact button{
    width: 150px;
}

.social{
    position: relative;
}

.media-buttons{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 200px;
}


/* achievement contact end here */

 /* footer start  */

.footer-menu{
    margin-top: 12px;
}  

.footer-menu a{
    display: inline;
    margin: 10px;
}